%link{:href => "https://fonts.googleapis.com/css?family=Righteous", :rel => "stylesheet"}/

%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{href: "#"} Domespace
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav.pull-right
      %li.nav-item.active
        %a.nav-link{href: "#"}
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{href: "#"} Facilities
      %li.nav-item
        %a.nav-link{href: "#"} Become a Host
      %li.nav-item
        %a.nav-link.disabled{href: "#"} Sign up

%div
  %h1
    SUNSET RECREATION CENTER - GYMNASIUM
    %small San Francisco, CA
  %div
    %div
      %img{:src => "/app/assets/images/bball.jpg"}/
    %div
      %h3 Facility Description
      %p
        Sunset Recreation Center - Gymnasium is the ideal facility for basketball activities.
        The facility contains 6 basketball hoops to play games or run drills with. This facility also contains bleachers and
        a scoreboard if competitive play is what you are looking for. This facility is located in the Sunset District of San Francisco.
        Street parking is available around the venue.
      %h3 Facility Details
      %ul
        %li
          %strong Address:
          2201 Lawton St, San Francisco, CA 94122
        %li
          %strong Capacity:
          600
        %li
          %strong Equipment:
          Scoreboard; basketball hoops - 6; bleachers
        %li
          %strong Restrooms:
          Yes
  %h3 Photos
  %div
    %h2{:style => "text-align:center"} Slideshow Gallery
    %div
      %div
        %div 1 / 6
        %img{:style => "width:100%"}/
      %div
        %div 2 / 6
        %img{:style => "width:100%"}/
      %div
        %div 3 / 6
        %img{:style => "width:100%"}/
      %div
        %div 4 / 6
        %img{:style => "width:100%"}/
      %div
        %div 5 / 6
        %img{:style => "width:100%"}/
      %div
        %div 6 / 6
        %img{:style => "width:100%"}/
      %a ❮
      %a ❯
      %div
        %p
      %div
        %div
          %img{:alt => "Picture #1", :style => "width:100%"}/
        %div
          %img{:alt => "Picture #2", :style => "width:100%"}/
        %div
          %img{:alt => "Picture #3", :style => "width:100%"}/
        %div
          %img{:alt => "Picture #4", :style => "width:100%"}/
        %div
          %img{:alt => "Picture #5", :style => "width:100%"}/
        %div
          %img{:alt => "Picture #6", :style => "width:100%"}/
  %div